body {
    
    background-color: black;
}

.clock {

    color: red;
    font-size: 60px;
    font-family: 'Press Start 2P', cursive;
    letter-spacing: 7px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}